<!-- Footer - bloc-3 -->
<div class="bloc l-bloc bgc-white" id="bloc-3">
  <div class="container bloc-sm">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-md-offset-4">
        <div class="col-sm-3 text-center">
          <a class="social" href="#"><span class="fa fa-twitter icon-md"></span></a>
        </div>
        <div class="col-sm-3 text-center">
          <a class="social" href="#"><span class="fa fa-facebook icon-md"></span></a>
        </div>
        <div class="col-sm-3 text-center">
          <a class="social" href="http://github.com/michal-wiacek"><span class="fa fa-github icon-md"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-3 END -->