<!-- bloc-2 -->
<div class="bloc l-bloc bgc-white" id="bloc-2">
  <div class="container bloc-lg">
    <div class="row voffset">
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Title goes here
        </h3>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Title goes here
        </h3>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Title goes here
        </h3>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Title goes here
        </h3>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        </p>
      </div>
    </div>
    <div class="row voffset">
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Title goes here
        </h3>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Title goes here
        </h3>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Title goes here
        </h3>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        </p>
      </div>
      <div class="col-sm-3">
        <img src="img/placeholder-image.png" class="img-responsive" />
        <h3 class="mg-md">
          Title goes here
        </h3>
        <p>
          Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- bloc-2 END -->