<!doctype html>
<html>
<head>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    
<%= render "nav" %>

<!-- bloc-1 -->
<div class="bloc bgc-outer-space d-bloc" id="bloc-1">
  <div class="container bloc-lg">
    <div class="col-xs-2 col-xs-offset-5">
      <%= image_tag "michal2.png", class: "mg-sm center-block",width: '123', height: '123' %>
    </div>
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h3 class="text-center  tc-white">
        bla bla bla
      </h3>
    </div>
  </div>
</div>
<!-- bloc-1 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->



</div>
<!-- Main container END -->
<%= render "footer" %>
</body>
    
<!-- Google Analytics -->

<!-- Google Analytics END -->

</html>
